<div class="balance-container">
	<div class="row">
		<div class="balance" id="balance">
			<h2><i class="fa fa-balance-scale" aria-hidden="true"></i> Balanço</h2>
			<div class="client-id"><b>Cliente ID:</b> <span class="gray"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span></div>
			<div class="latency"><b>Ping:</b> <span class="yellow"></span></div>
			<div class="divider"></div>
			<div class="balance-total"><b>Saldo Total (BRL):</b> <span class="green"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span></div>
			<div class="balance-btc"><b>Saldo (BTC):</b> <span class="green"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span></div>
			<div class="balance-brl"><b>Saldo (BRL):</b> <span class="green"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span></div>
			<div class="divider"></div>
			<div class="balance-locked-btc"><b>Saldo em Compras:</b> <span class="green"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span></div>	
			<div class="balance-locked-brl"><b>Saldo em Vendas:</b> <span class="red"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span></div>
		</div>
	</div>
</div>