
	<!-- JS -->
	<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
	<script type='text/javascript' src='/javascripts/scripts.min.js'></script>
	<!-- JS -->
	
</body>
</html>
