<div class="form-container">
	<div class="row">
		<div class="form" id="form-buy">
			<h2><i class="fa fa-arrow-up"></i> Comprar BTC</h2>
			
			<span>Cotação BRL</span>
			<input class="form-control" type="text" id="buy-price" name="buy-price" placeholder="Cotação BRL" />
			
			<span>Quantidade BRL</span>
			<input class="form-control" type="text" id="buy-amount-BRL" name="buy-amount-BRL" placeholder="Quantidade BRL" />
			
			<span>Quantidade BTC</span>
			<input class="form-control" type="text" id="buy-amount-BTC" name="buy-amount-BTC" placeholder="" disabled />
			
			<a id="btn-buy" href="javascript:void(0);" class="btn btn-primary">Comprar</a>
		</div> 
		<div class="form" id="form-sell">
			<h2><i class="fa fa-arrow-down"></i> Vender BTC</h2>
			
			<span>Cotação BRL</span>
			<input class="form-control" type="text" id="sell-price" name="sell-price" placeholder="Cotação BRL" />

			<span>Quantidade BRL</span>
			<input class="form-control" type="text" id="sell-amount-BRL" name="sell-amount-BRL" placeholder="Quantidade BRL" />

			<span>Quantidade BTC</span>
			<input class="form-control" type="text" id="sell-amount-BTC" name="sell-amount-BTC" placeholder="" disabled />

			<a id="btn-sell" href="javascript:void(0);" class="btn btn-primary">Vender</a>
		</div>
	</div> 
</div> 