<!doctype html>
<html lang="pt_BR">
<head>
	<!-- TITLE -->
	<title>Mr. Watson</title>
	<!-- TITLE -->

	<!-- METAS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- METAS -->
	
	<!-- FAVICON -->
	<link rel="icon" type="image/png" href="/images/mr-robot-favicon.png" />
	<!-- FAVICON -->

	<!-- CSS -->
	<link rel='stylesheet' href='/stylesheets/vendor/animate/animate.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<!-- CSS -->
</head>
<body>
	<%- include messages.ejs %>