<div class="info-container"> 
	<div class="row">
		<div class="info">
			<h1>Mr. Watson</h1>
			<div class='website'>
				<span class="gray">Website:</span><br/><a href="https://www.mrwatson.com.br" target="_blank">https://www.mrwatson.com.br</a>
			</div>
			<div class='developer'>
				<span class="gray">Autor:</span><br/><a href="https://www.youtube.com/channel/UCyF0x2hyYIQxw8Km2O3ltGg" target="_blank">Miguel Medeiros</a>
			</div>
			<div class='github'>
				<span class="gray">Projeto no Github:</span><br/><a href="https://github.com/MiguelMedeiros/mr-watson" target="_blank">https://github.com/MiguelMedeiros/mr-watson</a>
			</div>
			<div class="version">
				<span class="gray">Versão:</span><br/>1.0.1
			</div>
			<div class='btn-donation'>
				<span class="yellow">Contribua com o projeto:</span>
				<br/>
				<span class="gray">BTC:</span> &nbsp;&nbsp;<a href="bitcoin:1FgmtaGshjkgV9oj8uLm6cjWS7jRxknw4J" >1FgmtaGshjkgV9oj8uLm6cjWS7jRxknw4J</a>
				<br/>
				<span class="gray">BRL:</span> &nbsp;&nbsp;<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XBDE9BXNGLDL4" target="_blank">Contribua pelo Paypal</a>
			</div>
		</div>
		<div class="logo-container">
			<%- include logo.ejs %>	
		</div>
	</div>
</div>