<div class="last-trades-container">
	<div class="row">
		<div class="last-trades">
			<h2><i class="fa fa-exchange" aria-hidden="true"></i> Últimas Ordens <span id="trades-orders-num"></span></h2>
			<div class="last-trades-volume"><b>Volume das Últimas Ordens:</b> <span class=""></span></div>
			<div class="last-trades-average-price"><b>Média de Valores:</b> <span class=""></span></div>	
			<br>
			<div id="last-trades"><span>Carregando </span><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div>
		</div>
	</div>
</div>