<div class="ledger-container">
	<div class="row">
		<div class="ledger">
			<h2><i class="fa fa-history" aria-hidden="true"></i> Histórico</h2>
			<div id="ledger"><span class="">Carregando...</span><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div>
		</div>
	</div>
</div>
