<div id="logo" class="logo">
	<div class="head">
		<div class="antena-container">
			<div class="antena-top animated wobble infinite"></div>
			<div class="antena animated wobble infinite"></div>
			<div class="antena-bottom"></div>
		</div>
		<div class="eyes">
			<div class="eyes-container">
				<div class="eye dir"></div>
				<div class="eye esq"></div>
			</div>
		</div>
		<div class="eyeglasses">
			<div class="stem dir"></div>
			<div class="stem-separator"></div>
			<div class="stem esq"></div>
		</div>
		<div class="ear dir"></div>
		<div class="ear esq"></div>
		<div class="mouth">
			<div class="teeth"></div>
		</div>
	</div>
	<div class="tie animated">
		<div class="detail esq"></div>
		<div class="ball"><i class="fa fa-btc" aria-hidden="true"></i></div>
		<div class="detail dir"></div>
	</div>
</div>