<div class="orders-container">
	<div class="row">
		<div class="orders">
			<h2><i class="fa fa-exchange" aria-hidden="true"></i> Ordens</h2>
			<div id="orders">Carregando...</div>
		</div>
	</div>
</div>