<div class="orderbook-container" >
	<div class="orderbooks">
		<div class="row">
			<div class="orderbook-bids">
				<h2><i class="fa fa-arrow-up"></i> Ordens de Compra</h2>
				<div id="ordebook-bids"><span class="">Carregando...</span><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div>
			</div>
			<div class="orderbook-asks">
				<h2><i class="fa fa-arrow-down"></i> Ordens de Venda</h2>
				<div id="ordebook-asks"><span class="">Carregando...</span><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div>
			</div>
		</div>
	</div>
</div>