<div class="preloader">
	<%- include logo.ejs %>
	<h1>Ligando o Mr. Watson</h1>
	<ul>
		<li id="preloadBalance"><i class="fa fa-circle-o-notch fa-spin fa-fw loading yellow"></i> <i class="fa fa-check loaded green"></i> Meu Balanço</li>
		<li id="preloadOrders"><i class="fa fa-circle-o-notch fa-spin fa-fw loading yellow"></i> <i class="fa fa-check loaded green"></i> Minhas Ordens</li>
		<li id="preloadLedger"><i class="fa fa-circle-o-notch fa-spin fa-fw loading yellow"></i> <i class="fa fa-check loaded green"></i> Meu Histórico</li>
		<li id="preloadWallets"><i class="fa fa-circle-o-notch fa-spin fa-fw loading yellow"></i> <i class="fa fa-check loaded green"></i> Minhas Carteiras</li>
		<li id="preloadTicker"><i class="fa fa-circle-o-notch fa-spin fa-fw loading yellow"></i> <i class="fa fa-check loaded green"></i> Ticker</li>
		<li id="preloadTrades"><i class="fa fa-circle-o-notch fa-spin fa-fw loading yellow"></i> <i class="fa fa-check loaded green"></i> Últimas Ordens</li>
		<li id="preloadOrderBook"><i class="fa fa-circle-o-notch fa-spin fa-fw loading yellow"></i> <i class="fa fa-check loaded green"></i> Livro de Ordens</li>
	</ul>
</div>