<div class="monitoring-spread-container">
	<div class="row">
		<div class="monitoring-spread">
			<h2><i class="fa fa-search" aria-hidden="true"></i> Monitorando Spread Atual</h2>
			<div id="monitoring-spread"><span class="">Carregando...</span><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div>
		</div>
	</div>
</div>