<div class="ticker-container">
	<div class="row">
		<div id="ticker" class="ticker">
			<h2><i class="fa fa-dollar"></i> Ticker</h2>
			<div class="last-px">
				<b>Última Ordem Efetuada:</b> <span class="yellow"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
				<span class="sr-only">Carregando...</span></span>
			</div>
			<div class="best-ask">
				<b>Última Ordem de Compra:</b> <span class="green"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
				<span class="sr-only">Carregando...</span></span>
			</div>
			<div class="best-bid">
				<b>Última Ordem de Venda:</b> <span class="red"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
				<span class="sr-only">Carregando...</span></span>
			</div>
			<div class="spread-live">
				<b>Spread Atual:</b> <span class="orange"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
				<span class="sr-only">Carregando...</span></span>
			</div>
			<div class="divider"></div>
			<div class="high-px">
				<b>Alta 24h:</b> <span class="green"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
				<span class="sr-only">Carregando...</span></span>
			</div>
			<div class="low-px">
				<b>Baixa 24h:</b> <span class="red"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
				<span class="sr-only">Carregando...</span></span>
			</div>
			<div class="spread-day">
				<b>Spread 24h:</b> <span class="orange"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
				<span class="sr-only">Carregando...</span></span>
			</div>

			<div class="divider"></div>

			<div class="sell-volume">
				<b>Volume 24h (BTC):</b> <span class=""><i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
				<span class="sr-only">Carregando...</span></span>
			</div>
			<div class="buy-volume">
				<b>Volume 24h (BRL):</b> <span class=""><i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
				<span class="sr-only">Carregando...</span></span>
			</div>
		</div>
	</div>
</div>
