<div class="tradingview-container">
	<div class="row">
		<div class="tradingview">
			<h2><i class="fa fa-line-chart" aria-hidden="true"></i> Gráfico</h2>
			<div id="tradingview-graph"></div>
		</div>
	</div>
</div>