<div class="wallets-container">
	<div class="row">
		<div class="wallets" >
			<h2><i class="fa fa-suitcase" aria-hidden="true"></i> Minhas Carteiras</h2>
			<div id="wallets-table"><span class="">Carregando...</span><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div>
		</div>
	</div>
</div>