body{
	background: #131722;
	color: #fff;
	font-size: 0.7rem;
	margin: 1rem 1rem 0 1rem;
}
h2{
	text-transform: uppercase;
	font-size: 1rem;
	background: #1c2030;
	border: 1px solid #2f3241;
	padding: 0.5rem 1rem;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	i{
		margin-right: 5px;
	}
}
table{
	width: 100%;
	thead{
		font-weight: bold;
		font-size: 0.55rem;
		text-transform: uppercase;
	}
	td, tr{
		border: none !important;
		padding: 0 !important;
		margin: 0;
	}
}
a{
	color: #fff;
	&:focus,&:hover{
		color: orange;
	}
}