#logo{	
	position: relative;
	top: 90px;
	left: 5%;
	text-align: center;
	display: inline-block;
	width: 115px;
	height: 220px;
	h1{
		font-size: 2.2rem;
		position: relative;
		top: 1rem;
		display: block;
	}
	.head{
		background: #005792;
		height: 106px;
		display: block;
		position: relative;
		z-index: 10;
		.antena-container{
			height: 100%;
			.antena{
				display: block;
				position: absolute;
				width: 3%;
				height: 40%;
				background: #ccc;
				left: 50%;
				top: -40%;
			}
			.antena-top{
				border-radius: 50%;
				width: 22%;
				height: 24%;
				display: block;
				position: absolute;
				top: -60%;
				left: 40%;
				z-index: 999;
				background: yellow;

			}
			.antena-bottom{
				width: 60%;
				height: 12%;
				position: absolute;
				display: block;
				top: -12%;
				left: 20%;
				z-index: 0;
				background: #12659c;
			}
		}
	}
	.eyes{
		background: #fff;
		height: 32%;
		width: 77%;
		display: block;
		position: absolute;
		z-index: 999;
		top: 15%;
		left: 11%;
		.eyes-container{
			display: block;
			position: absolute;
			animation: olhar 2.5s infinite;
			animation-direction: alternate;
		}
		.eye{
    		animation: blink 4s infinite;
			height: 12px;
			width: 12px;
			background: black;
			position: absolute;
			top: 10px;
			border-radius: 10px;
		}
		.dir{
			left: 15px;
		}
		.esq{
			right: 15px;
		}
	}
	.mouth{
		background: #fff;
		width: 70%;
		height: 13%;
		position: absolute;
		bottom: 20%;
		left: 15%;
		border-radius: 0 0 90% 90%;
		/*.teeth{
			width: 100%;
			background: #005792;
			height: 2px;
			position: absolute;
			left: 0;
			bottom: 7px;
		}*/
	}
	.ear{
		background: #12659c;
		position: absolute;
		width: 7%;
		height: 35%;
	}
	.ear.esq{
		left: -7%;
		top: 20%;
	}
	.ear.dir{
		right: -7%;
		top: 20%;
	}
	.eyeglasses{
		.stem{
			position: absolute;
			width: 40%;
			height: 45%;
			top: 8%;
			z-index: 9999;
			border: 8px solid #F5A855;
			background: transparent;
		}
		.stem.dir{
			left: 52%;
		}
		.stem.esq{
			left:10%;
		}
		.stem-separator{
			position: absolute;
			width: 18px;
			height: 7%;
			background: #DC4444;
			z-index: 999999;
			top: 25%;
			left: 43%;
		}
	}
	.tie{
		width: 100%;
		z-index: 999999;
		position: relative;
		top: -10px;
		animation-delay: 10s;
		.detail{
			width: 0;
			height: 0;
			display: block;
			position: absolute;
			border-top: 1.25rem solid transparent;
			border-bottom: 1.25rem solid transparent;
			margin-top: -5%;
			border-radius: 3rem;
		}
		.detail.esq{
			border-right: 2rem solid black;
			left: 50%;
		}
		.detail.dir{
			border-left: 2rem solid black;
			left: 23%;
		}
		.ball{
			color: #000;
			z-index: 10;
			background: yellow;
			height: 1rem;
			width: 1rem;
			left: 50px;
			border-radius: 20%;
			display: block;
			position: absolute;
			top: 6px;
		}
		.fa{
			transform: rotate(15deg);
		}
	}
}